body { background: #eee; }
#header {
	position: absolute;
	top: 0;
	left: 0;
	background: #3d3d3d;
	color: #fff;
	-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.4);
	width: 100%;
}
#header-content {
	max-width: 800px;
	width: 95%;
	margin: 0 auto;
}
#header-content img {
	width: 70px;
	margin: 5px auto;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #3d3d3d;
	float: left;
}
#header-content p {
	margin: 0;
}
#header-content h1 {
	float: left;
	padding-left: 10px;
	margin: 0;
}
#content {
	max-width: 800px;
	margin: 90px auto 0 auto;
}
#content a:link, #content a:active, #content a:visited, #content a:hover {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dashed #adadad;
}
#content h1 { margin-bottom: 0; }
#content p { margin-top: 0; }
.project img {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100px;
}
.project { position: relative; padding-left: 110px; }
.project + .project { margin-top: 1em; }
ul {
	margin-top: 0;
	list-style-type: none;
}
li {
	line-height:1.5em;
	float:left;
	display:inline;
	width: 33.333%;
}
#footer {
	padding-top: 1em;
	clear: both;
	text-align: center;
	font-size: 0.5em;
}
#footer a:link, #footer a:active, #footer a:visited, #footer a:hover {
	color: #333;
	text-decoration: none;
	border: none;
}
@media (max-width: 810px) {
	#content { width: 95%; }
	.project img {
		position: static;
		display: block;
		margin-bottom: 0.2em;
	}
	.project { padding-left: 0; }
	li {
		float: none;
		display: list-item;
		width: 100%;
		line-height: 2em;
	}
}
